@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                        <NavMenu/>
                    </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
@code
{
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
    }
}
