@page "/AddFamily/"
@using Models
@using WebClient.Data
@inject IFamilyService FamiliesData
@inject NavigationManager NavigationManager
<EditForm Model="@_family">
        <div class="form-group col-md-6">
                <label for="inputNumber">House Number</label>
                <input type="number" id="inputNumber" class="form-control col-md-2" @bind-value="_family.HouseNumber"/>
            </div>
        <div class="form-group col-md-4">
                        <label for="inputStreetName">Street Name</label>
                        <input type="text" class="form-control" id="inputStreetName" @bind-value="_family.StreetName"/>
                    </div>
        <button type="submit" class="btn btn-primary" @onclick="AddFamilyToUser">Add</button>
    </EditForm>

@code {
    [Parameter] 
    public int Id { get; set; }
    
    private Family _family = new Family();

    public void AddFamilyToUser()
    {
        FamiliesData.AddFamilyAsync(_family);
        NavigationManager.NavigateTo("/Families");
    }


}