@page "/Login"
@namespace LoginComponet
@using WebClient.Authentication.Impl
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="wrapper"></div>
    <div class="container">
        <div class="row no-gutters">
            <div class="form-box" id="function">
                <h1 class="font-weight-bold py-3">Login</h1>
                <h4>Sign into your account</h4>
                <form class="input-group">
                    <input type="text" placeholder="user name" @bind-value="username" class="input-field"/>
                        <input type="password" placeholder="password" @bind-value="password" class="input-field"/>
                        <button type="button" class="submit-btn" @onclick="PerformLogin">Login</button>
                    <div style="color:red"> @errorMessage</div>
                    <p>Don't have an account? <a href="/Register">Register here</a></p>
                </form>
            </div>
        </div>
    </div>


@code {
    private string username;
    private string password;
    private string errorMessage;

    public async Task PerformLogin()
    {
        errorMessage = "";

        try
        {
            await ((CustomAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
            username = "";
            password = "";
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }
    }
}